<div class="collection-container collection">
  <div class="row">
    <div ng-repeat="album in albums" class="collection-album-container col-md-2">

      <!-- When mouse enters, showOVerlay expression is set to true. -->
      <div ng-mouseenter="showOverlay = true" ng-mouseleave="showOverlay = false" class="collection-album-image-container">

        <img ng-src="{{ album.albumArtURL }}">

        <!-- Start of showOverlay -->
        <div class="collection-album-image-overlay" ng-show="showOverlay">
          <div class="collection-overlay-content">
            <a class="collection-overlay-button" ui-sref="album">
              <i class="fa fa-play"></i>
            </a>
            &nbsp;
            <a class="collection-overlay-button">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <!-- End of showOverlay -->
      </div>
      <!-- End of image container -->

      <div class="collection-album-info caption">
        <p>
          <a ui-sref="album" class="album-name"> {{ album.name }} </a>
          <br>
          <a ui-sref="album"> {{album.artist}} </a>
          <br>
          {{ album.songs.length }} songs
          <br>
        </p>
      </div>
    </div>
    <!-- Ends ng-repeat -->
  </div>
  <!-- End of row -->‘
</div>
<!-- End of collection container -->
