html{
  height: 100%;
}

body{
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  background: -webkit-radial-gradient(  #2b1339, #380c77);
  background: radial-gradient(#2c3e50, #34495e);
  &.landing{
    background: #2c3e50;
    .navbar {
      margin-bottom: 0;
    }
  }
}

.player-header-nav {
  background-color: rgba(52, 152, 219,1)
}

.hero-content {
  background: #34495e;
  padding: 100px 0;
  h1 {
    font-size: 70px;
    margin-bottom: 50px;
    font-weight: 300;
  }
}

.selling-points {
  padding: 100px 0;
 .point {
    width: 32%;
    float: left;
    padding: 0 0.5%;
    h5 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
      height: 85px;
    }
    p {
      font-size: 14px
    }
  }
}

.album-header-container {
  margin-top: 55px;
  margin-bottom: 40px;
}
// This styles the right side of our Album Header
.album-information {
  // Pushes the album information down and makes sure there's sufficient space at the bottom of the page
  margin-top: 45px;
  margin-bottom: 20px;
}

.album-information h3, .album-information h4, .album-information h5 {
  // Modifying the line height allows us to increase the spacing above and below the content. Another way of achieving the same effect would be to set a margin-top and margin-bottom for each of these classes
  line-height: 150%;
}
.album-information {
  > h3 {
    font-size: 48px;
    font-weight: 300;
  }
  > h4 {
    font-size: 24px;
    font-weight: 700;
  }
  > .h5 {
    font-size: 16px;
    font-weight: 500;
  }
}
.table.album-song-listing {
  // Override the font for the entire table.
  font-weight: 300;
  td {
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, .4);
  }
}

.collection-album-container {
  margin-top: 30px;
  margin-bottom: 20px;
  .caption {
    margin-top: 10px;
    p {
      font-size: 16px;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.6);
      a {
        color: rgba(255, 255, 255, 0.6);
        &.album-name {
          color: white;
        }
      }
    }
  }
  img {
    max-width: 100%;
  }
}

.collection-album-container {
  .collection-album-image-container {
    position: relative;
  }
  .collection-album-image-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  .collection-overlay-content {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .collection-overlay-button {
    font-size: 20px;
    background-color: white;
    color: #193549;
    border-radius: 50% 50%;
    display: inline-block;
    width: 42px;
    height: 42px;
    &:hover {
      cursor: pointer;
      color: white;
      background-color: #193549;
    }
    i {
      line-height: 42px;
    }
    .fa-play {
      padding-left: 5px;
    }
  }
}

.album-song-button {
  text-align: center;
  font-size: 14px;
  background-color: white;
  color: #193549;
  border-radius: 50% 50%;
  display: inline-block;
  width: 28px;
  height: 28px;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: #193549;
  }
  i {
    line-height: 28px
  }
  .fa-play {
    padding-left: 5px
  }
}

.album-song-listing {
  td {
    vertical-align: middle;
    &.song-number {
      padding: 0;
      height: 70px;
      text-align: center;
      vertical-align: middle;
    }
  }
}
