html{
  height: 100%;
}

body{
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  background: -webkit-radial-gradient(  #2b1339, #380c77);
  background: radial-gradient(#2c3e50, #34495e);
  &.landing{
    background: #2c3e50;
    .navbar {
      margin-bottom: 0;
    }
  }
}

.player-header-nav {
  background-color: rgba(52, 152, 219,1)
}

.hero-content {
  background: #34495e;
  padding: 100px 0;
  h1 {
    font-size: 70px;
    margin-bottom: 50px;
    font-weight: 300;
  }
}

.selling-points {
  padding: 100px 0;
 .point {
    width: 32%;
    float: left;
    padding: 0 0.5%;
    h5 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
      height: 85px;
    }
    p {
      font-size: 14px
    }
  }
}

.album-header-container {
  margin-top: 55px;
  margin-bottom: 40px;
}
// This styles the right side of our Album Header
.album-information {
  // Pushes the album information down and makes sure there's sufficient space at the bottom of the page
  margin-top: 45px;
  margin-bottom: 20px;
}

.album-information h3, .album-information h4, .album-information h5 {
  // Modifying the line height allows us to increase the spacing above and below the content. Another way of achieving the same effect would be to set a margin-top and margin-bottom for each of these classes
  line-height: 150%;
}
.album-information {
  > h3 {
    font-size: 48px;
    font-weight: 300;
  }
  > h4 {
    font-size: 24px;
    font-weight: 700;
  }
  > .h5 {
    font-size: 16px;
    font-weight: 500;
  }
}
.table.album-song-listing {
  // Override the font for the entire table.
  font-weight: 300;
  td {
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, .4);
  }
}

.collection-album-container {
  margin-top: 30px;
  margin-bottom: 20px;
  .caption {
    margin-top: 10px;
    p {
      font-size: 16px;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.6);
      a {
        color: rgba(255, 255, 255, 0.6);
        &.album-name {
          color: white;
        }
      }
    }
  }
  img {
    max-width: 100%;
  }
}
