@import "landing";
@import "album";
@import "collection";
@import "player_bar";


html{
  height: 100%;
}

body{
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  background: -webkit-radial-gradient(  #2b1339, #380c77);
  background: radial-gradient(#2c3e50, #34495e);
  padding-bottom: 150px;
  &.landing{
    padding: 0;
    background: #2c3e50;
    .navbar {
      margin-bottom: 0;
    }
  }
}

.player-header-nav {
  background-color: rgba(52, 152, 219,1)
}
